:root {
  --primary-color: #3db36b;
  --secondary-color: #6d98ff;
  --warning-color: #e2892c;
  --danger-color: #ff635d;
}

body {
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  padding: 1rem 0;
}

h1 {
  font-size: 3.052em;
  margin: 0;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

a,
p {
  font-size: 1.25em;
}

nav,
form {
  padding: 2rem 1rem;
}

form {
  margin: 0 auto;
  width: 80vw; /* viewpoint width */
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

input {
  margin: 0.5rem 0;
  width: 100%;
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/* Direct Child Selector */
nav > a {
  border: solid thin var(--primary-color);
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

nav > a:link,
nav > a:visited {
  color: var(--primary-color);
}

.fas {
  font-size: 2.5em;
}

/* Utility Classes */
.box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
}

.button {
  /* 'inline-block' will keep default of 'inline' while allowing for vertical margin. */
  display: inline-block;
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
}

.button:not(:first-of-type) {
  margin: 0 0.5rem;
}

/* modifier class */
.button--primary {
  background-color: var(--primary-color);
  color: white;
}

.button--warning {
  background: var(--warning-color);
}

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--justify-space-around {
  justify-content: space-around;
}

.text-button {
  background-color: transparent;
  border: none;
  margin: 0.5rem 0;
  padding: 0;
}

.text-button--secondary {
  color: var(--secondary-color);
}

.text-button--warning {
  color: var(--warning-color);
}

/* JS Classes */
.is-collapsed {
  height: 0;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.4s linear;
}

.is-error {
  border: solid thin var(--danger-color);
}

.is-success {
  border: solid thin var(--primary-color);
}

.is-expanded {
  height: 50vh;
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.4s linear;
}

#cta {
  background-color: var(--primary-color);
  color: white;
}

#hero {
  background: url("./images/hero-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 2rem;
}
